body {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 9, 9);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;

}

/* Style for the first load of the page */
#circle {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border-width: 5px;

}

#timer {
    font-weight: bold;
}

#startButton {
    cursor: pointer;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgb(173, 9, 9);
}

#settingsText {
    position: fixed;
    right: 5%;
    top: 25%;
    width: 15%;
    font-size: 25px;
    font-weight: bold;
}

/* The style for the Work Mode */

#workMode #timerChoice {
    cursor: pointer;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 3px solid white;
    background-color: rgb(173, 9, 9);
    position: fixed;
    right: 5%;
    top: 40%;
    font-size: 50px;
}

#workMode #timerChoice {
    cursor: pointer;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 3px solid white;
    background-color: rgb(173, 9, 9);
    position: fixed;
    right: 5%;
    top: 40%;
    font-size: 50px;
}



#workMode {
    width: auto;
    height: auto;
}



#workMode h2 {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 9, 9);
}

#workMode #workText {
    color: lightgreen;
}

#workMode #circle {
    border-color: lightgreen;
}

/* The style of the Break Mode */

#breakMode h2 {
    display: inline;
    justify-content: center;
    align-items: center;
}


#breakMode :nth-child(3) {
    color: rgb(248, 42, 6);
}

#breakMode #circle {
    border-color: rgb(248, 42, 6);
}

#breakMode #startButton {
    background-color: lightgreen;
}

#breakMode #timerChoice {
    cursor: pointer;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 3px solid white;
    background-color: lightgreen;
    position: fixed;
    right: 5%;
    top: 40%;
    font-size: 50px;
}

/* style of the input in the form */

#form input[type=number] {
    height: auto;
    margin-bottom: 2%;
    padding-top: 10px;
}

/* style for the footer of the page */
footer {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    width: 100%;
    background-color: black;
    margin-top: 5%;
    float: bottom;

}


/* media queries to make the app responsive */

@media only screen and (max-width:1050px) {
    body {
        font-size: 30px;
    }

    #settingsText {
        visibility: hidden;
    }

    #workMode #timerChoice,
    #breakMode #timerChoice {
        position: relative;
        width: 100px;
        height: 100px;
        text-align: center;
    }

    #buttons {
        display: inline-flex;
    }

    #form {
        font-size: 20px;
    }

}